@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat|Montserrat+Alternates|Norican|Handlee');

body {
  width: 1000px;
  background-color: rgb(247,255,253);
}

#bar {
  width: 1000px;
  display: flex;
  padding: 10px;
  background-color: rgb(105, 162, 253);
  position: relative;
  right:10px;
  bottom: 110px;
}

footer {
  width: 1000px;
  display: flex;
  padding: 10px;
  background-color: rgb(105, 162, 253);
  position: relative;
  bottom:30px;
  right: 10px;
}

#title {
  font-family: "Handlee", sans-serif;
  font-size: 75px;
  position: relative;
  bottom:55px;
  text-align: center;
}

#sections {
  width: 100%;
  position: relative;
  float: center;
  margin: 20px;
  left: 26%;
  bottom:75px;

}

  #title:hover {opacity: 0.7;}
  #section1:hover {opacity: 0.7;}
  #section2:hover {opacity: 0.7;}
  #section3:hover {opacity: 0.7;}
  #section4:hover {opacity: 0.7;}
  #section5:hover {opacity: 0.7;}

#about {
  width: 1000px;
  position: relative;
  bottom: 55px;
}


nav ul {
    width: 1000px;
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    right: 13px;
    bottom: 105px;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    z-index: 10;
    padding: 5px;
    color: black;

  }

nav li {
    display: block;
    margin-left: 0px;
    margin-right: 6px;
  }

nav a {
  text-decoration:none;
  color: black;
}

nav a:hover {
  background-color: rgb(121,133,179);
  display:block;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
}

h1 {
    font-family: "Handlee", sans-serif;
    position: relative;
    bottom: 70px;
    left: 25px;
    font-size: 40px;
    width: 300px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding: 10px;
  position: relative;
  top: 23px;
  right: 10px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgb(105, 162, 253);
  position: relative;
  top: 5px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: relative;
  bottom: 3px;
}

ul {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#about {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  width: 564px;
  bottom: 50px;
  left: 15px;
  text-indent: 35px;
}

#mb2 {
  width: 500px;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  bottom: 70px;
  left: 30px;
  text-indent: 35px;
}

#pic {
  position: relative;
  float: right;
  bottom: 50px;
  right: 1px;


}


img {
  border: 1.5px solid rgb(230,229,231);
}


#mee {
position: relative;
float: left;
}

#box01 {
  float:left;
  position: relative;
  left: 50px;
  bottom: 115px;
  width: 45%;
  margin-left: 15px;
    }

#box02 {
  width: 45%;
  position: relative;
  margin-left: 20px;
  left: 5px;
  bottom: 115px;
  right: 70px;
  float:right;
  margin-right: 40px;
}

#text {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 23px;
    bottom: 90px;
    position: relative;
  }

#headline {
  position: relative;
  bottom: 60px;
  padding: 1px;
  font-size: 33px;
  color: black;
}

#he {
  position: relative;
  bottom: 50px;
  color: black;
}

#design {
    width: 790px;
     position: relative;
     right: 40px;
     top: 25px;
    float: right;
  }

#design1 {
    position: relative;
    left: 15px;
    float: left;
    width: 310px;
      }

#design2 {
    position: relative;
    right: 40px;
    float: right;
    width: 310px;
    }

#db1 {
    position: relative;
    width: 310px;
    background-color: rgb(191, 195, 205);
    padding: 1px 20px 20px;
   }

#db2 {
  position: relative;
  width: 310px;
  margin-top: 25px;
  background-color: rgb(191, 195, 205);
  padding: 1px 20px 20px;
        }

#db3 {
    position: relative;
    width: 310px;
    background-color: rgb(191, 195, 205);
    padding: 1px 20px 20px;
            }

#db4 {
    position: relative;
    width: 310px;
    margin-top: 25px;
    background-color: rgb(191, 195, 205);
    padding: 1px 20px 20px;
      }

}

#navwriting {
  position: relative;
  bottom: 17px;
}

#w1 {
  margin-left: 40px;
  margin-right: 40px;
}

.dropdown {
    position: relative;
    bottom: 80px;
    width: 1000px;
    display: inline-block;
}

.dropdown-content {
  left: 0;
    display: none;
     position: relative;
     min-width: 175px;
     z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px;
  display: inline-block;
  font-size: 15px;
}

.dropbtn {
    background-color: rgb(105, 162, 253);
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 860px;
    font-size: 18px;
    text-align: right;
    border: none;
    cursor: pointer;
    width: 1000px;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(105, 162, 253);
    color: white;
    bottom: 18px;

  }

#print{
  position: relative;
  left: 40px;
  top: 115px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
        }

        #contact {
          position: relative;
          display: inline;
          font-family: "Open Sans", sans-serif;
          right:300px;
          top: 150px;
          font-size: 16px;
        }

#email {
  position: relative;
  right: 400px;
  top: 200px;
}

#photo {
    background-color: rgb(105, 162, 253);
    width: 93%;
    margin:: 30px;
    padding: 20px;
    position: relative;
    display: flex;
    overflow: scroll;
    bottom: 30px;
        }
  #myImg {
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s;
      position: relative;
        }
  #myImg2 {
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s;
      position: relative;
        }
  #myImg3 {
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s;
      position: relative;
        }
  #myImg4 {
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
        }
   #myImg5 {
          border-radius: 30px;
          cursor: pointer;
          transition: 0.3s;
          position: relative;
              }
    #myImg6 {
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s;
     position: relative;
          }
    #myImg7 {
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
                }
   #myImg8 {
    border-radius: 30px;
    cursor: pointer;
   transition: 0.3s;
    position: relative;
            }
    #myImg9 {
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s;
      position: relative;
           }

  #myImg:hover {opacity: 0.7;}
  #myImg2:hover {opacity: 0.7;}
  #myImg3:hover {opacity: 0.7;}
  #myImg4:hover {opacity: 0.7;}
  #myImg5:hover {opacity: 0.7;}
  #myImg6:hover {opacity: 0.7;}
  #myImg7:hover {opacity: 0.7;}
  #myImg8:hover {opacity: 0.7;}
  #myImg9:hover {opacity: 0.7;}

        .modal {
            display: none;
            position: fixed;
            z-index: 10; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            top: 5px;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.9);
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 50%;
            max-width: 700px;
        }


        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)}
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
