@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat|Montserrat+Alternates|Norican|Handlee');

body {
  width: 1000px;
  background-color: rgb(247,255,253);
}

header {
  width: 1000px;
  display: flex;
  padding: 10px;
  background-color: rgb(105, 162, 253);
  position: relative;
  right:10px;
  bottom: 110px;
}

footer {
  width: 1000px;
  display: flex;
  padding: 10px;
  background-color: rgb(105, 162, 253);
  position: relative;
  bottom:30px;
  right: 10px;
}

#title {
  font-family: "Handlee", sans-serif;
  font-size: 75px;
  position: relative;
  bottom:55px;
  text-align: center;
}

#sections {
  width: 400px;
  position: relative;
  float: center;
  margin: 20px;
  left: 220px;
  bottom:75px;

}

#about {
  width: 1000px;
  position: relative;
  bottom: 55px;
}


nav ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    right: 13px;
    bottom: 100px;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    width: 1000px;
    z-index: 10;
    padding: 5px;
  }

nav li {
    display: block;
    margin-left: 0px;
    margin-right: 6px;
  }

nav a {
  text-decoration:none;
}


}

nav a:hover {
  background-color: rgb(121,133,179);
  display:block;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
  background-color: rgb(121,133,179);
}

h1 {
    font-family: "Montserrat Alternates", sans-serif;
    position: relative;
    top: 8px;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
}

h3 {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  color: rgb(105, 162, 253);
  position: relative;
  top: 15px;
}

h4 {
  font-family: "Abel", sans-serif;
  font-size: 18px;
}

ul {
  font-family: "Abel", sans-serif;
  font-size: 17px;
}

#mb {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  width: 1000px;
  bottom: 70px;
  left: 30px;
  text-indent: 35px;
}

#mb2 {
  width: 500px;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  bottom: 70px;
  left: 30px;
  text-indent: 35px;
}

#pic {
  position: relative;
  float: right;
  bottom: 80px;

}


img {
  border: 1.5px solid rgb(230,229,231);
}

#hello {
  position: relative;
  left: 30px;
  bottom: 40px;
  font-family: "Handlee", sans-serif;
  font-size: 45px;
}

#name {
  position: relative;
  bottom: 70px;
  text-indent: 3px;
  font-family: "Norican", cursive;
  font-size: 50px;
}


#contact {
  position: absolute;
  top: 835px;
  left: 140px;
  display: inline;
}

#rcopy {
  width: 800px;
  position: relative;
  bottom:5px;
  float: right;
}

#box01 {
  float:left;
  position: relative;
  width: 360px;
    }

#box02 {
  width: 360px;
  position: relative;
  margin-left: 10px;
  float:right;
}

#text {
    font-family: "Abel", sans-serif;
    font-size: 18px;
    line-height: 23px;
    position: relative;
  }

#headline {
  position: relative;
  top: 25px;
  background-color: rgb(197, 197, 197);
  padding: 2px;
}

#design {
    width: 790px;
     position: relative;
     right: 40px;
     top: 25px;
    float: right;
  }

#design1 {
    position: relative;
    left: 15px;
    float: left;
    width: 310px;
      }

#design2 {
    position: relative;
    right: 40px;
    float: right;
    width: 310px;
    }

#db1 {
    position: relative;
    width: 310px;
    background-color: rgb(191, 195, 205);
    padding: 1px 20px 20px;
   }

#db2 {
  position: relative;
  width: 310px;
  margin-top: 25px;
  background-color: rgb(191, 195, 205);
  padding: 1px 20px 20px;
        }

#db3 {
    position: relative;
    width: 310px;
    background-color: rgb(191, 195, 205);
    padding: 1px 20px 20px;
            }

#db4 {
    position: relative;
    width: 310px;
    margin-top: 25px;
    background-color: rgb(191, 195, 205);
    padding: 1px 20px 20px;
      }

#photo {
  width: 805px;
  overflow: scroll;
  position: relative;
  left: 60px;
  top: 80px;
}


#print{
  position: relative;
  left: 40px;
  top: 1920px;
  font-family: "Abel", sans-serif;
  font-size: 18px;
        }
