@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat');


h1 {
  font-size:43px;
  font-family: "Montserrat", sans-serif;
  width: 735px;
  position: relative;
  float:right;
  top: 25px;
}

main {
  font-family: "Abel", sans-serif;
  position: relative;
  bottom: 35px;
  overflow: auto;
}

h2 {
  font-size: 34px;
  padding: 10px;
  background-color: rgb(223,225,229)
}

h3 {
  font-size: 23px;
}

section {
  padding: 15px 10px 5px 25px;
  position: relative;
  bottom: 5px;
}
body {
  width: 960px;
  background-color: rgb(247,255,253);
}


nav ul {
margin-top: 20px;
margin-bottom:20px;
padding: 10px;
position: relative;
bottom: 18px;
background-color:rgb(105,162,253);
list-style-type: none;
font-family: "Montserrat", sans-serif;
font-size: 13px;
width: 930px;
}

nav li{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

nav a {
  color:#222;
  text-decoration:none;
}

nav a:hover {
  background-color: rgb(121,133,179);
}

nav a:visited {
  color:white;
}

#tree {
  width: 150px;
  float: left;
  position: relative;
  top: 30px;
  overflow:visible;
  margin-right: 5px;
}


img {
  position: relative;
  width: 150px;
  border: 2px solid #222;
}

#box01 {
  width: 575px;
  position: relative;
  margin-right: 15px;
  bottom:25px;
  float: left;
  overflow: visible;
}

#copy {
  float:right;
  position: relative;
  top: 30px;
  width: 370px;
}

#box02 {
  width: 370px;
  position: relative;
  margin-left: 10px
  top: 5px;
  float:right;
  overflow: visible;
}

footer ul{
  font-family: "Abel", sans-serif;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom:10px;
  padding: 10px;
  position: relative;
  bottom: 50px;
  background-color:rgb(105,162,253);
}

footer li {
  display: inline-block;
  position: relative;
  margin-right: 77.5px;
  margin-left: 20px;
}

#bottomtree {
  position: relative;
  bottom: 50px;
}
